{% extends "profile/profile_base.html" %}

{% block profile_content %}

<h1 class="h1__form">Смена пароля</h1>
    <div class="form__register__block">

        <form class="form__change__pass" action="" method="post">

            {{ form.csrf_token() }}

            {% for field in form if field.name != "csrf_token" %}

                {% if field.name != "submit" %}
                    {{ field.label }}
                {% else %}
                    </br>
                    </br>
                {% endif %}

                <p>{{ field }}
                {% for error in field.errors %}
                    <span class="form__error__label">{{ error }}</span>
                {% endfor %}
                </p>
            {% endfor %}
        </form>
    </div>

{% endblock %}