SECRET_KEY=             # секретный ключ (строка)
JWT_SECRET_KEY=         # секретный ключ (строка)

# POSTGRES
POSTGRES_USER=          # имя пользователя
POSTGRES_PASSWORD=      # пароль БД
POSTGRES_HOSTNAME=      # имя хоста БД (для локальной разработки 'localhost', для запуска в Docker "postgres")
POSTGRES_PORT=          # порт БД (обычно 5432)
POSTGRES_DB=            # имя рабочей БД
POSTGRES_DB_TEST=       # имя БД для тестирования
PGDATA="/var/lib/postgresql/data/pgdata"