{% extends "profile/profile.html" %}

{% block profile_content %}

  <h1 class="h1__vote_statistic">Статистика:</h1>

    <div class="vote__statistic__header">
        <p class="vote__statistic__p">Статус: {{ context.vote.status }} {% if context.vote.rs_show.client_finished == 1 %} (Пользователем) {% endif %}</p>
        </br>
        <p class="vote__statistic__p">{% if context.vote.rs_show.vote_url %} Ссылка на опрос: {{ context.host }}{{ context.vote.rs_show.vote_url }} {% endif %}</p>
        </br>
        <p class="vote__statistic__p">Дата начала опроса: {{ context.vote.date_start }}</p>
        <p class="vote__statistic__p">Дата окончания опроса: {{ context.vote.date_end }}</p>
        {% if context.vote.date_end > context.time_now %}
            <p class="vote__statistic__p">Опрос завершиться через: {{ context.vote.date_end - context.time_now}}</p>
        {% endif %}
        <p class="vote__statistic__p">Всего проголосовало: {{ context.result_total }} </p>
        </br>
        <p class="vote__statistic__p">Заголовок: {{ context.vote.title }}</p>
        <p class="vote__statistic__p">Вопрос: {{ context.vote.question }}</p>
    </div>

    <div class="vote__statistic__body">
        <ol>
        {% for answer in context.result %}
            <li class="vote__statistic__body__item">{{ answer.answer }}: {{ answer.percent }}%   (Всего:{{ answer.number_votes }})</li>
        {% endfor %}
            </ol>
    </div>

    {% if context.status == 'Запущен' %}
        <form class="form__finished__vote" action="" method="post">
            <div class="form__finished__vote__button">
                <button class="button__finished__vote" value="" name="finished__vote">Завершить опрос</button>
            </div>
        </form>
    {% endif %}

{% endblock %}