{% extends 'base.html' %}

{% block content %}
    <div class="main__page__home">
        <p> Данные сайт позволяет проводить опросы и анкетирование.</p>
        <p> Незарегистрированные пользователи могут голосовать в публичных опросах и проходить анкетирование. </p>
        <p> После регистрации Вы сможете сами легко создавать в личном кабинет опросы и анкеты, просматривать статистику.</p>
        <p> Так же получив в личном кабинете токен Вы сможете пользоваться API.</p>
    </div>
{% endblock %}
